body{
    background-color: #e0e0e0;
    margin:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trigger{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 999;
    right:5rem;
}

.disable-hidden{
    opacity: 0 !important;
    pointer-events: none;
}
.noheight{
    height:0 !important;
}

#logo-bg-container{
    /* width:25rem; height:25rem; */
    width:100vw; height:100vh;

    position: fixed;
    top:0; left:0;

    background-color: transparent;
    
    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000)
}
#logo-bg{
    width:100vw; height:100vh;
    margin:0; padding:0;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    transform-style: preserve-3d;

    transform: perspective(75rem) rotateY(0deg) rotateX(0deg) scale(1) translateX(0);

    background: #f2f2f2;
    background: linear-gradient(45deg, #f2f2f2 0%, #e0e0e0 100%);

    z-index: 2;
    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000);

    shape-rendering: crispEdges;
}
#logo-bg-shadow{
    position:absolute;
    transform: perspective(75rem) rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(-24rem) translateY(2rem);
    -moz-transform: perspective(75rem) rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(-24rem) translateY(2rem);
    -webkit-transform: perspective(75rem) rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(-24rem) translateY(2rem);
    width:100vw; height:100vh;
    
    transform-style: preserve-3d;
    
    background: rgb(177,177,177);
    background: linear-gradient(-90deg, rgba(177,177,177,1) 0%, rgb(236, 236, 236) 100%);
    opacity: 0;

    filter:blur(45px);

    border-radius: 10rem;

    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    shape-rendering: crispEdges;
}

.connection-btn:hover{
    filter: brightness(0);
    opacity: 0.7;
    transform: scale(1.1);
}

.logo-bg-arrows:hover{
    opacity: 0.4;
}

.logo-icon-hidden{
    transform: translate(-4rem, -3rem) !important;
    opacity: 0 !important;
}

/* tiny */
@media screen and (min-width: 0) {
    .logo-3d{
        position: absolute;

        width:30rem; height:30rem;
        transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
        pointer-events: none;
    }
}

/* medium */
@media screen and (min-width: 800px) {
    .logo-3d{
        width:40rem; height:40rem;
        transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    }
    .connection-btn{
        cursor:pointer;
        margin: 1rem 0 0 0.8rem;
        height:fit-content;
        filter: brightness(2);
        opacity: 0.4;
        transition: all 300ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    }.connection-img{
        height:2.5rem;
        transition: all 300ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    }

    .logo-bg-arrows{
        opacity: 0.1;
        cursor: pointer;

        height:6rem;
        transition: all 700ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    }
}

/* large */
@media screen and (min-width: 1200px) {
    .logo-3d{
        width:50rem; height:50rem;
        transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    }
    .logo-bg-arrows{
        height:7rem
    }
}