:root{
    overflow-x: hidden !important;
    overscroll-behavior-x: none;
}

body{
    margin:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scroll-behavior: smooth;
    overflow-x: hidden !important;
    overscroll-behavior-x: none;

    background: #f2f2f2 !important;
    background: linear-gradient(-100deg, #f2f2f2 0%, #eeeeee 100%) !important;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trigger{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 9999 !important;
    right:5rem;
    
    visibility: hidden;
}

.disable-hidden{
    opacity: 0 !important;
    pointer-events: none !important;
}

.noheight{
    width:0 !important; margin:0 !important;
    opacity: 0 !important;
}

#logo-bg-container{
    margin:0;

    position: fixed;
    top:0; left:0;
    transform-style: flat;

    background: transparent;

    perspective: 75rem;
    -moz-perspective: 75rem;
    -webkit-perspective: 75rem;
}
#logo-bg{
    width:100vw;
    margin:0; padding:0;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    transform-style: preserve-3d;

    transform: perspective(75rem) rotateY(0deg) rotateX(0deg) scale(1) translateX(0);

    background: none;

    z-index: 2;
    transition: all 700ms cubic-bezier(0.295, 0.015, 0.040, 1.000);

    
    shape-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;
}
#logo-bg-color{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    
    background: linear-gradient(-100deg, #f2f2f2 0%, #f0f0f0 100%);
}
#logo-bg-shadow{
    position:absolute;
    width:65rem; height:65rem;

    transform: scale(0.7) translateZ(-5px);

    opacity: 0;

    transform-style: preserve-3d;
    transition: all 700ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    image-rendering: optimizeSpeed;

    z-index: -1;

    pointer-events: none;
}

.connection-btn:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.logo-bg-arrows:hover{
    opacity: 0.4;
}

.logo-icon-hidden{
    opacity: 0 !important;
}

.carousel-indicator{
    width: 1rem; height: 1rem;
    border-radius: 0.75rem;
    margin: 0 0.3rem 0 0.3rem;
    background-color: #d3d3d3;
    cursor: pointer;

    box-shadow: inset 0 0 6px #afafaf;

    transition: all 300ms cubic-bezier(0.295, 0.015, 0.040, 1.000)
}.carousel-indicator:hover{
    transform: scale(1.5);
}
.carousel-indicator-active{
    background-color: #303030;
    box-shadow: 0 0 5px #ffffff;
    box-shadow: inset 0 0 6px #000000;
}

.contact-elements{
    transition: all 300ms cubic-bezier(0.295, 0.015, 0.040, 1.000)
}


/* tiny */
@media screen and (min-width: 0) {
    #logo-bg-shadow{display: none;}
    #logo-bg{height:100%}
    .logo-3d{
        position: absolute;

        width:35rem; height:35rem;
        
        transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
        -moz-transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
        -webkit-transition: all 350ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
        
        z-index: 2;
        pointer-events: none;
    }
    .connection-btn{
        cursor:pointer;
        margin: 0 0.5rem 8rem 0.5rem;
        width: 2.5rem;
        opacity: 0.35;
    }.connection-img{
        height:2.5rem;
        image-rendering: optimizeQuality;
    }
    
    /* page elements */
    .page-container{
        width: 90vw; margin-left:0;
    }
    #page2{
        margin-top:8vh
    }#page3{
        margin-top:30vh;
    }

    .logo-bg-arrows{
        opacity: 0.3;
        height: 5.5rem;
    }

    #carousel-indicator-container{
        top: 70% !important;
    }

    /* triggers */
    #trig-3{
        top:30vh;
    }

    button{
        width: fit-content;
        padding: 0.25rem 1.5rem 0.25rem 1.5rem;
        
        font-family: Poppins, Helvetica, sans-serif, Arial;
        background-color: #f7f7f7;
        border: 1px solid #c2c2c2;
        border-radius: 999rem;
        outline: 2px solid transparent;
        color: #717171;

        overflow: hidden;
        white-space: nowrap;
        
        cursor: pointer;
        transition: all 300ms cubic-bezier(0.260, 0.050, 0.250, 1.000), color 200ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */

    } button:hover{
        background-color: #303030;
        border-color: #303030;
        color:#f2f2f2;
        scale:1.1;
    }

    .spinning-ring{
        position: absolute;
        top:-0.75rem;
    
        background-color: transparent;
        border: 4px solid;
        border-radius: 999rem;
        width: 3.25rem;
        height: 3.25rem;

        transform-style: preserve-3d;
        perspective: 75rem;

        shape-rendering: crispEdges;
        transition: opacity 1000ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
        transition-delay: 200ms;
    } #ring-check{
        position: absolute;
        top:0;
        transform: scale(0.6) translate(0.2rem, -0.1rem);
        pointer-events: none;    
    }

    /* contact mode elements */
    #contact-form{
        transform: translateY(4rem);
        z-index: 2;
    } #sendmail-container{
        margin-top: 5vh
    }
    .contact-mode .logo-3d{
        width: 15rem; height: 15rem;
        transform: translateY(-16rem) !important;
    }
    .contact-input{
        font-family: Poppins, Helvetica, sans-serif, Arial;
        font-size: 1rem;
        border-radius:0.8rem;
        border:1px solid #c4c4c4;
        padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        background-color: #f7f7f7;
        outline: 2px solid #eaeaea;
    }
    .contact-textarea{
        resize: none;
        border-radius:0.8rem;
        border:1px solid #c4c4c4;
        font-family: Poppins, Helvetica, sans-serif, Arial;
        font-size: 1rem;
        padding: 0.4rem 0.8rem 0.4rem 0.6rem;
        background-color: #f7f7f7;
        outline: 2px solid #eaeaea;
    }.contact-input:focus, .contact-textarea:focus{border: 2px solid #303030;}

    button{
        font-size: 1.2rem;
    }
}

/* medium */
@media screen and (min-width: 900px) {
    body{
        background-color: #e0e0e0;
    }

    #logo-bg-shadow{display: inline;}
    #logo-bg{height:100%}
    .logo-3d{
        width:40rem; height:40rem;
    }
    .connection-btn{
        margin: 1rem 0 1.3rem 0.8rem;
        height:2.5rem;
    }

    #carousel-indicator-container{
        top: 1.75rem !important;
    }

    #logo-bg{
        border-radius: 7rem !important;    
        width:35rem !important;
        height:35rem !important;
    }

    /* page elements */
    .page-container{
        width:27rem; margin-left:27rem;
    }
    #page2{
        margin-top:60vh
    }#page3{
        margin-top:50vh
    }

    .logo-bg-arrows{
        opacity: 0.1;
        cursor: pointer;

        height: 7rem;
        transition: all 700ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
        margin: 0;
    }

    /* triggers */
    #trig-3{
        top:inherit;
    }

    /* contact mode elements */
    #contact-form{
        transform: translateY(1.75rem);
    } #sendmail-container{
        margin-top: 1.65rem
    }
    .contact-mode .logo-3d{
        width: 9rem; height: 9rem;
        transform: translate(-5rem, -12rem) !important;
    }
    .contact-input{
        font-family: Poppins, Helvetica, sans-serif, Arial;
        font-size: 1rem;
        border-radius:0.8rem;
        border:1px solid #c4c4c4;
        padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        background-color: #f7f7f7;
        outline: 2px solid #eaeaea;
    }
    .contact-textarea{
        resize: none;
        border-radius:0.8rem;
        border:1px solid #c4c4c4;
        font-family: Poppins, Helvetica, sans-serif, Arial;
        font-size: 1rem;
        padding: 0.4rem 0.8rem 0.4rem 0.6rem;
        background-color: #f7f7f7;
        outline: 2px solid #eaeaea;
    }.contact-input:focus, .contact-textarea:focus{border: 2px solid #303030;}
    
    button{
        font-size: 1.2rem;
    }
}

/* large */
@media screen and (min-width: 1300px) {
    .logo-3d{
        width:50rem; height:50rem;
    }
    .logo-bg-arrows{
        height:7rem
    }
    
    /* page elements */
    .page-container{
        width:38rem; margin-left:32rem;
    }
    
    #logo-bg{
        border-radius: 8rem !important;    
        width:37rem !important;
        height:37rem !important;
    }

    /* triggers */
    #trig-3{
        top:inherit;
    }

    /* contact mode elements */
    #contact-form{
        transform: translateY(2.5rem);
    } #sendmail-container{
        margin-top: 2.25rem
    }
    .contact-mode .logo-3d{
        width: 12rem; height: 12rem;
        transform: translate(-6rem, -13.5rem) !important;
    }
    .contact-input{
        font-size: 1.1rem;
        border-radius:1rem;
        padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    }
    .contact-textarea{
        border-radius:1rem;
        font-size: 1.1rem;
        padding: 0.5rem 0.8rem 0.5rem 0.6rem;
    }
    
    button{
        font-size: 1.2rem;
    }
}