body{
    background-color: #e0e0e0;
    margin:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trigger{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 999;
    right:5rem;
}

#logo-bg-container{
    /* width:25rem; height:25rem; */
    width:100vw; height:100vh;

    position: fixed;
    top:0; left:0;

    background-color: transparent;
    
    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000)
}
#logo-bg{
    position:absolute;
    width:100vw; height:100vh;
    margin:0; padding:0;
    display: flex; justify-content: center; align-items: center;
    transform-style: preserve-3d;

    transform: perspective(75rem) rotateY(0deg) rotateX(0deg) scale(1) translateX(0);

    background: #f2f2f2;
    background: linear-gradient(45deg, #f2f2f2 0%, #e0e0e0 100%);

    z-index: 2;
    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000);

    shape-rendering: crispEdges;
}
#logo-bg-shadow{
    position:absolute;
    width:100vw; height:100vh;
    
    transform-style: preserve-3d;
    
    background: rgb(177,177,177);
    background: linear-gradient(-90deg, rgba(177,177,177,1) 0%, rgb(236, 236, 236) 100%);

    filter:blur(35px);
    opacity: 1;

    transition: all 800ms cubic-bezier(0.295, 0.015, 0.040, 1.000);
    shape-rendering: crispEdges;
}

/* tiny */
@media screen and (min-width: 0) {
    #logo-container{
        width:30rem; height:30rem;
        transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    }
}

/* medium */
@media screen and (min-width: 800px) {
    #logo-container{
        width:40rem; height:40rem;
        transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    }
}

/* large */
@media screen and (min-width: 1200px) {
    #logo-container{
        width:50rem; height:50rem;
        transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    }
}